:root {
    --body-color: rgb(250, 229, 229);
    --header-color: rgb(253, 212, 212);
    --main-container-color: rgb(255, 245, 245);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--body-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
    font-family: 'Times New Roman', Times, serif;
    height: 10vh;
}

header a {
    font-size: 1.4rem;
}

.list-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 1.4rem;
    list-style: none;
}

a {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

/* #logo {
    font-size: 3.8rem;
    font-weight: bold;
    padding-right: 0.7rem;
} */

.title-container {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    letter-spacing: 0.2rem;
}

#h2 {
    margin-top: 2rem;
    font-weight: lighter;
    letter-spacing: 0.2rem;
}

#principal-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.3rem;
    padding: 0.5rem;
}

#hr {
    width: 90%;
    max-width: 40rem;
    height: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 87vh;
    color: rgb(0, 0, 0);
} 

.contenedor-principal {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    max-width: 40rem;
    width: 85%;
    height: 65%;
    max-height: 45rem;
    min-height: 40rem;
    border-radius: 2rem;
    box-shadow: -0.4rem 0.3rem 1.5rem 0.3rem rgb(153, 153, 153);
    background-color: var(--main-container-color);
}

.form-label {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-point {
    font-size: 1.6rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.log-in {
    display: flex;
    margin-top: 1rem;
}

.submit-button { 
    width: fit-content;
    color: rgb(95, 95, 95);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem;
    left: 17rem;
    border-radius: 0.7rem;
    border: 0.1rem solid black;
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);;
}

.email-input, .username-input, .password-input {
    border-radius: 0.6rem;
    border:rgb(153, 153, 153) 0.1rem solid;
    padding: 0.1rem;
    width: 100%;
}

.forgeted-password, .sign-in {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
    padding-top: 1.4rem;
    font-size: 1.2rem;
}

footer {
    display: flex; 
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: var(--header-color);
    width: 100vw;
    height: 4vh;
}

a:active {
    color: rgb(38, 114, 255);
}

a:hover {
    text-decoration: underline;
}