:root {
    --body-color: rgb(250, 229, 229);
    --header-color: rgb(253, 212, 212);
    --main-container-color: rgb(255, 245, 245);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--body-color);
}

header {
    background-color: var(--header-color);
    width: 100%;
    height: 10vh;
}

.list-container {
    display: flex;
    align-items: center;
    width: auto;
    height: 10vh;
    justify-content: space-evenly;
    font-size: 1.8rem;
    list-style: none;
}

a {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

#logo {
    font-size: 5rem;
    font-weight: bold;
    padding-right: 0.7rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 88vh;
    color: rgb(0, 0, 0);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55rem;
    width: 85%;
    height: 65%;
    border-radius: 2rem;
    box-shadow: -0.4rem 0.3rem 1.5rem 0.3rem rgb(153, 153, 153);
    background-color: var(--main-container-color);
}

.form-label {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
}

.form-point {
    font-size: 1.8rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.submit-button { 
    width: fit-content;
    color: rgb(95, 95, 95);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    left: 17rem;
    border-radius: 0.7rem;
    border: 0.1rem solid black;
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);;
}

.email-input, .username-input, .password-input {
    border-radius: 0.6rem;
    border:rgb(153, 153, 153) 0.1rem solid;
    padding: 0.2rem;
    width: 90%;
}

.log-in {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.6rem;
    font-size: 1.4rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: var(--header-color);
    width: 100vw;
    height: 2vh;
}

a:active {
    color: rgb(38, 114, 255);
}