.list-container {
    font-size: 1.6rem;
}

#log-in_btn {
    font-size: 2rem;
}

li.icons {
    display: none;
}

#principal-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    padding: 0.5rem;
}

.contenedor-principal {
    max-width: 40rem;
}

.form-point {
    font-size: 1.8rem;
}

.submit-button { 
    font-size: 1.6rem;
}

.forgeted-password, .sign-in {
    padding-left: 2rem;
    padding-top: 1.4rem;
    font-size: 1.4rem;
}

footer {
    font-size: 2rem;
}