:root {
    --body-color: #faf2f2;
    --header-color: #f1d1d1; 
    --main-container-color: #f3e1e1;
    --boton-background-color: #7d5a5a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
    font-family: 'Times New Roman', Times, serif;
    height: 10vh;
}

ul.list-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: var(--header-color);
}

#sub-list_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    font-size: 1.5rem;
    max-width: 120rem;
    width: 100%;
    background-color: var(--header-color);
    list-style: none;
}

#log-in_btn {
    padding: 1rem;
    border-radius: 1rem;
    border-style: none;
    color: rgb(95, 95, 95);
    background-color: white;
}

#log-in_btn:hover {
    transition: all 0.3s;
    background-color: var(--boton-background-color);
    color: white;
}

a {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

main {
    width: 100%;
    height: 100%;
}

section h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.8rem;
}

hr {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 55rem;
    background-color: black;
}

section article {
    width: 80%;
    max-width: 52rem;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    font-size: 2rem;
}

#section-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40rem;
}

div.icons-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 80%;
    max-width: 76rem;
}

div.icons-container svg:hover {
    cursor: pointer;
}

li.icons {
    display: none;
}

footer {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: var(--header-color);
    margin-top: 5rem;
    width: 100%;
    height: 5vh;
}

a:hover {
    color: white;
    text-decoration: underline;
}