.list-container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

#log-in_btn {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: row;
}

#sections-container {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

#aside-container {
    display: flex;
    position: sticky;
    justify-content: center;
    top: 0;
    width: 35%;
    height: 100vh;
}

.faq-guide {
    margin-left: 2rem;
    margin-top: 3rem;
    max-width: 35rem;
    min-width: 30rem;
    width: 85%;
    height: 30%;
    line-height: 3.7rem;
}

#guide-title {
    font-size: 2.3rem;
}

.question-guide {
    font-size: 1.7rem;
}

.question {
    width: 75%;
    max-width: 60rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-size: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#question-title {
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
    font-size: 2.7rem;
}

#last-question {
    margin-bottom: 10rem;
}