.list-container {
    font-size: 1.8rem;
}

#log-in_btn {
    font-size: 2rem;
}

li.icons {
    display: none;
}

.faq-guide {
    margin-top: 3rem;
    max-width: 35rem;
    height: 23rem;
    line-height: 2.8rem;
}

#guide-title {
    font-size: 2rem;
}

.question-guide {
    font-size: 1.4rem;
}

.question {
    width: 90%;
    max-width: 60rem;
    margin-top: 5rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

#question-title {
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

#last-question {
    margin-bottom: 10rem;
}
